.level_user{
	display: block;
	margin: 12px 20px 0px 0px;
	font-size: 17px;
	font-weight: bold;
	color: #0063CC;
}
.navbar > .container .navbar-brand, .logo {
    padding: 10px 10px 12px;
}

.no-display{
	display: none;
}
.table-type {
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
}
.table-type td{
  padding: 8px;
}
.type {
    margin-bottom: 20px;
    margin-left: 100px;
    float: left;
}
.mt20{
	margin-top:20px;
}
.mb20{
	margin-bottom:20px;
}

.datetimepicker {
	z-index: 1960 !important;
}

/* reset sesuain main.css */
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    background-color: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 0 0 0 0 !important;
    color: #787878;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.2;
    padding: 5px 4px;
    transition-duration: 0.1s;
    box-shadow: none;
}
.table > thead > tr > th, .table > tfoot > tr > th {
    padding: 8px 18px 8px 8px;
}
.standard-padding > thead > tr > th, .standard-padding > tfoot > tr > th{
	padding: 8px !important;
}

.disable-click{
    opacity: 0.25;
    cursor: not-allowed;
}

.disable-click > button.btn{
    cursor: not-allowed;
}

.selected-room{
    background-color: aquamarine !important;
}
.selected-room > h3 {
    background-image: linear-gradient(#7FFFD4, #1AFFB3) !important;
}

tr.repair > td{
	background-color: #FFE5EC !important;
}
.today{
	background-color: #CCFFCC !important;
}

.no-block{
	cursor: pointer !important;
}

.daterangepicker .calendar.right {
    clear: none !important;
}

dt, dd {
    line-height: 2;
}

.mini-stats {
    border-left: 0 none;
}
.mini-stats li:first-child {
    border-left: 0 none;
}

.select2-container.select2-container-disabled .select2-choice{
    cursor: not-allowed;
    background-color: #eee !important;
    opacity: 1;
}
.select2-container.select2-container-disabled .select2-choice .select2-arrow {
    background-color: #eee !important;
}
.select2-container .select2-choice {
    margin-top: 0 !important;
}

/* Checkbox for reservation */
input[type="checkbox"].zcheckbox {
	/*position:absolute;
	z-index:-1000;
	left:-1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px; width:1px;
	margin:-1px;
	padding:0;
	border:0;*/
	display: none;
}

input[type="checkbox"].zcheckbox + label.zcheckbox-label-purple,
input[type="checkbox"].zcheckbox + label.zcheckbox-label-green,
input[type="checkbox"].zcheckbox + label.zcheckbox-label-red {
	padding-left:23px;
	height:18px;
	display:inline-block;
	line-height:18px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;

}

input[type="checkbox"].zcheckbox:checked + label.zcheckbox-label-purple,
input[type="checkbox"].zcheckbox:checked + label.zcheckbox-label-green,
input[type="checkbox"].zcheckbox:checked + label.zcheckbox-label-red {
	background-position: 0 -18px;
}
label.zcheckbox-label-purple, label.zcheckbox-label-green, label.zcheckbox-label-red {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
label.zcheckbox-label-purple {
	background-image:url('../images/checkbox-purple.png');
}
label.zcheckbox-label-green {
	background-image:url('../images/checkbox-green.png');
}
label.zcheckbox-label-red {
	background-image:url('../images/checkbox-red.png');
}
input[type="checkbox"].zcheckbox:disabled + label.zcheckbox-label-purple,
input[type="checkbox"].zcheckbox:disabled + label.zcheckbox-label-green,
input[type="checkbox"].zcheckbox:disabled + label.zcheckbox-label-red {
	cursor: not-allowed;
}

/* handel popup x-editable */
.form-inline .form-group {
    display: inline-block;
    margin: 5px 0 0 0;
    vertical-align: middle;
}

.input_medium {
    width: 270px !important;
}

/* tambahan tabel-responsive bootstrap utk reservasi. by : Zawa (26 Mei 2016)*/
@media screen and (min-width: 1024px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
